<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ifywork.ifywork_ssm.mapper.DrugMapper">

    <!-- 添加药品信息 -->
    <insert id="addDrug" parameterType="com.ifywork.ifywork_ssm.bean.Drug">
        insert into drug
            (id,drug_no, drug_name, quanlity, unit, money)
        values (#{id},#{drug_no}, #{drug_name}, #{quanlity}, #{unit}, #{money})
    </insert>

    <!-- 查询所有药品信息 -->
    <select id="selectDrugs"
            resultType="com.ifywork.ifywork_ssm.bean.Drug">
        select id,drug_no,drug_name,quanlity,unit,money
        from drug
    </select>

    <!-- 删除药品信息 -->
    <delete id="deleteDrug" parameterType="java.lang.Integer">
        delete from drug where id=#{id}
    </delete>

    <!-- 修改药品信息 -->
    <update id="updateDrug" parameterType="com.ifywork.ifywork_ssm.bean.Drug">
        update drug set drug_no = #{drug_no}, drug_name=#{drug_name}, quanlity=#{quanlity}, unit=#{unit}, money=#{money}
        where id = #{id}
    </update>
</mapper>